$bodyBackground: #F5F5F5;
$mainColor: #2F80ED;
$black0: #000000;
$black1: #111111;
$white: #FFFFFF;
$gray: #898989;

$desktop: 1770px;
$desktopLow: 1440px;
$laptop: 1280px;
$tablet: 1024px;
$mobile: 768px;
$mobileSmall: 360px;
