<header class="header js-header">
    <div class="header__container container">
        <div class="header__content content">
            <div class="header__menu">
                <span class="header__menu-decor"></span>
                <span class="header__menu-text">Меню</span>
            </div>
            <div class="header__select">
                <div class="js-double-hover double-hover">
                    <span class="header__select-text double-hover__main-text js-double-hover-main-text">Выбрать квартиру</span>
                    <span class="header__select-text double-hover__double-text js-double-hover-double-text"></span>
                </div>
            </div>
            <div class="header__logo-wrapper">
                <img
                        src="images/header-logo.svg"
                        alt="Логотип INCHAPIN"
                        class="header__logo"
                />
            </div>
            <a href="tel:+74955272121" class="header__tel">+7 495 527 21 21</a>
            <button class="header__call js-modal-trigger js-double-hover double-hover" data-open-modal="call-modal">
                <span class="double-hover__main-text js-double-hover-main-text">Заказать звонок</span>
                <span class="double-hover__double-text js-double-hover-double-text"></span>
            </button>
        </div>
    </div>
</header>