@use "../../../helpers/variables" as *;

.about {
  margin-bottom: 40px;

  @media (min-width: $desktop) {
    margin-bottom: 56px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 29px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 20px;
  }

  &__container {
    @media (max-width: $mobile) {
      padding: 0 40px 0 0;
    }
  }

  &__content {
    justify-content: space-between;

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    @media (min-width: 361px) and (max-width: 767px) {
      align-items: center;
    }

    &-decor {
      flex: 0 1 567px;
      position: relative;

      @media (min-width: $desktop) {
        flex: 0 1 733px;
      }

      @media (max-width: $desktopLow) {
        flex: 0 1 480px;
      }

      @media (max-width: $tablet) {
        flex: 0 1 39.844vw;
        margin-right: 96px;
      }

      @media (max-width: $mobile) {
        flex: 0 1 290px;
      }

      @media (max-width: 767px) {
        flex: initial;
        max-width: 296px;
        width: 100%;
        margin-right: 0;
      }

      &-title {
        color: $mainColor;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: right;
        margin-bottom: 27px;

        @media (min-width: $desktop) {
          font-size: 17px;
          margin-bottom: 35px;
        }

        @media (max-width: $tablet) {
          font-size: 11px;
          margin-bottom: 21px;
        }

        @media (max-width: $mobile) {
          margin-bottom: 19px;
        }

        @media (max-width: $mobileSmall) {
          margin-bottom: 10px;
        }
      }

      &-img {
        position: absolute;
        width: 1086px;
        top: -2px;
        left: -259px;

        @media (min-width: $desktop) {
          width: 1354px;
          top: -2px;
          left: -308px;
        }

        @media (max-width: $tablet) {
          width: 768px;
          top: 0px;
          left: -179px;
        }

        @media (max-width: $mobile) {
          width: 612px;
          left: -161px;
        }

        @media (max-width: $mobileSmall) {
          width: 602px;
          left: -110px;
        }

        &-wrapper {
          height: 720px;
          overflow: hidden;
          position: relative;

          @media (min-width: $desktop) {
            height: 900px;
          }

          @media (max-width: $tablet) {
            height: 513px;
          }

          @media (max-width: $mobile) {
            height: 409px;
          }

          @media (max-width: $mobileSmall) {
            height: 403px;
          }
        }
      }

      &-logo {
        position: absolute;
        z-index: 1;
        right: -101px;
        top: 133px;
        max-width: 200px;

        @media (min-width: $desktop) {
          max-width: 259px;
          right: -132px;
          top: 173px;
        }

        @media (max-width: $desktopLow) {
          max-width: 148px;
          right: -31px;
        }

        @media (max-width: $tablet) {
          max-width: 14.454vw;
          top: 96px;
          right: -7vw;
        }

        @media (max-width: $mobile) {
          max-width: 81px;
          height: 81px;
          top: 94px;
          right: -40px;
        }

        @media (max-width: $mobileSmall) {
          max-width: 87px;
          height: 87px;
          top: 86px;
          right: -44px;
        }
      }
    }

    &-info {
      margin-top: 101px;
      flex: 0 1 567px;

      @media (min-width: $desktop) {
        margin-top: 133px;
        flex: 0 1 734px;
      }

      @media (max-width: $desktopLow) {
        flex: 0 1 408px;
      }

      @media (max-width: $tablet) {
        margin-top: 76px;
      }

      @media (max-width: $mobile) {
        flex: 0 1 344px;
        margin-top: 50px;
      }

      @media (max-width: $mobileSmall) {
        flex: initial;
        margin-top: 55px;
        margin-left: 20px;
        width: 100%;
      }

      &-title,
      &-text {
        color: $black1;
        font-weight: 400;
        text-transform: uppercase;
        max-width: 587px;
        width: 100%;
      }

      &-title span,
      &-text span {
        color: $mainColor;
      }

      &-title {
        font-size: 26px;
        line-height: 1.4;
        position: relative;
        padding-top: 59px;
        margin-bottom: 100px;

        @media (min-width: $desktop) {
          font-size: 34px;
          padding-top: 78px;
          margin-bottom: 120px;
        }

        @media (max-width: $desktop) {
          max-width: 477px;
        }

        @media (max-width: $tablet) {
          font-size: 19px;
          max-width: 334px;
          padding-top: 41px;
          margin-bottom: 68px;
        }

        @media (max-width: $mobile) {
          padding-top: 37px;
          margin-bottom: 21px;
        }

        @media (max-width: $mobileSmall) {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 39px;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $mainColor;
          width: 49px;
          height: 9px;
          border-radius: 2px;

          @media (min-width: $desktop) {
            width: 63px;
            height: 12px;
          }

          @media (max-width: $tablet) {
            width: 35px;
            height: 6px;
          }
        }
      }

      &-text {
        font-size: 16px;
        line-height: 1.6;

        @media (min-width: $desktop) {
          font-size: 20px;
        }

        @media (max-width: $desktop) {
          max-width: 504px;
        }

        @media (max-width: $tablet) {
          font-size: 12px;
          max-width: 334px;
          line-height: 1.8;
        }

        @media (max-width: $mobileSmall) {
          font-size: 11px;
        }
      }

      &-video {
        display: flex;
        margin-top: 100px;
        max-width: 456px;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media (min-width: $desktop) {
          max-width: 587px;
        }

        @media (max-width: $tablet) {
          margin-top: 60px;
          max-width: 334px;
        }

        @media (max-width: $mobile) {
          margin-top: 31px;
        }

        @media (max-width: $mobileSmall) {
          margin-top: 21px
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 146px;
          transform: translateY(-50%);
          background-color: #D7D7D7;
          width: 109px;
          height: 1px;

          @media (min-width: $desktop) {
            left: 186px;
            width: 140px;
          }

          @media (max-width: $tablet) {
            left: 113px;
            width: 69px;
          }

          @media (max-width: $mobileSmall) {
            width: 59px;
          }
        }

        &-title {
          color: $black1;
          font-weight: 600;
          font-size: 14px;
          line-height: 1.6;
          text-transform: uppercase;
          margin-top: 30px;

          @media (min-width: $desktop) {
            font-size: 18px;
          }

          @media (max-width: $tablet) {
            font-size: 10px;
            margin-top: 24px;
          }

          & span {
            color: $gray;
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.6;
            text-transform: initial;

            @media (min-width: $desktop) {
              font-size: 18px;
            }

            @media (max-width: $tablet) {
              font-size: 13px;
            }
          }
        }

        &-button {
          max-width: 186px;
          width: 100%;
          height: 186px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;

          @media (min-width: $desktop) {
            max-width: 241px;
            height: 241px;
          }

          @media (max-width: $tablet) {
            max-width: 133px;
            height: 133px;
          }

          @media (max-width: $mobileSmall) {
            max-width: 131px;
            height: 131px;
          }

          &:hover {

            &::before {
              transform: scale(1.1);
            }
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/images/about-button-bg.png') no-repeat center;
            transition: 0.2s linear;

            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi) {
              background: url('/images/about-button-bg@2x.png') no-repeat center;
              background-size: cover;
            }
          }

          & span {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.6;
            text-transform: uppercase;
            color: $white;
            padding-left: 17px;
            position: relative;
            width: 110px;
            height: 110px;
            border: 1px solid $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: $desktop) {
              width: 142px;
              height: 142px;
              font-size: 18px;
            }

            @media (max-width: $tablet) {
              width: 79px;
              height: 79px;
              font-size: 10px;
              padding-left: 8px;
            }

            @media (max-width: $tablet) {
              width: 77px;
              height: 77px;
              padding-left: 8px;
            }

            &::before {
              content: '';
              display: block;
              position: absolute;
              top: 49px;
              left: 29px;
              width: 10px;
              height: 11px;
              background: url('/images/play-icon.svg') no-repeat center;
              background-size: cover;

              @media (min-width: $desktop) {
                top: 62px;
                left: 37px;
                width: 13px;
                height: 14px;
              }

              @media (max-width: $tablet) {
                width: 7px;
                height: 8px;
                top: 35px;
                left: 20px;
              }

              @media (max-width: $mobileSmall) {
                top: 32px;
                left: 19px;
              }
            }
          }
        }
      }
    }
  }
}