@use "../../../helpers/variables" as *;

.hero {
  padding-top: 100px;
  margin-bottom: 80px;

  @media (min-width: $desktop) {
    padding-top: 131px;
  }

  @media (min-width: $mobile) {
    min-height: 100vh;
  }

  &__img {
    position: absolute;
    width: calc(100% + 28px);
    top: -168px;
    left: -28px;

    @media (min-width: $desktop) {
      width: 1920px;
      top: -227px;
      left: -1px;
    }

    @media (max-width: $tablet) {
      width: 964px;
      top: -71px;
      left: 0px;
    }

    &-wrapper {
      height: 506px;
      overflow: hidden;
      position: relative;

      @media (min-width: $desktop) {
        height: 600px;
      }

      @media (max-width: $tablet) {
        height: 411px;
      }
    }
  }

  &__content {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;

    @media (min-width: $desktop) {
      margin-top: 46px;
    }

    @media (max-width: $tablet) {
      margin-top: 30px;
    }

    &-title {
      color: $mainColor;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.4;
      text-transform: uppercase;
      max-width: 416px;
      width: 100%;

      @media (min-width: $desktop) {
        font-size: 31px;
        transform: translateY(12px); //для полного соответствия макету
      }

      @media (max-width: $tablet) {
        font-size: 19px;
        max-width: 255px;
        transform: translate(20px, 5px); //тоже для полного соответствия макету
      }
    }

    &-figure {
      max-width: 717px;

      @media (min-width: $desktop) {
        max-width: 862px;
      }

      @media (max-width: $desktopLow) {
        max-width: 554px;
      }
    }
  }
}