@use "helpers/variables" as *;

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: $black0;
  position: absolute;
  top: 30px;
  left: 1px;
  transition: top 0.3s, font-size 0.3s;
  z-index: 100;
  pointer-events: none;

  @media (min-width: $desktop) {
    font-size: 17px;
  }

  &.active {
    top: 12px;
    font-size: 12px;
  }

  .error & {
    color: #c30000;
  }
}
